{% extends "pages/home/home.njk" %}

{% block landing %}
<section class="landing">
	<div class="jenbox">
		<h1 class="jenbox__jen">Blox</h1>
		<h2 class="jenbox__starter">Starter</h2>
	</div>
	<p class="landing__tagline">{{blox.db.meta.project.tagline}}
</section>
</div>
{% endblock %}