/*********
Header
**********/

.main-nav{
	background-color: var(--color-primary);
	box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
	position: relative;
	z-index: 2;
}

.nav{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	padding: 20px;
	max-width: 1200px;
	margin: 0 auto;
	&__brand {
	margin-right: auto;
	font-size: 1.4em;
	color: var(--color-primary-contrast-50);
	}
	&__item {
		display: block; 
		height:30px;
		line-height: 30px;
		font-size: 1.4em;
		margin-right: 20px;
	}
	&__link {
		text-decoration: none;
		display: inline-block;
		color: var(--color-primary-contrast);
		display: block;
		transition: .3s background-color;
	}   
	&__link:hover {
		color: var(--color-primary-contrast-30);
	}	
	&__link_active {
		color: var(--color-primary-contrast-20);
		border-bottom: 2px solid var(--color-primary-contrast-20);
		cursor: default;
	}
}

.theme-picker {
	padding: 40px;
	text-align: right;
	color: var(--color-bg-contrast-lower);
	.theme {
		cursor: pointer;
	}
}

@media only screen and (max-width: 600px) {
	.nav{
		flex-direction: column;
		&__item {
			padding: 20px 0;
		}
	}
}

/*********
Footer
**********/

footer {
	color: var(--color-primary-contrast);
	background-color: var(--color-primary);
	padding: 20px 0 40px 0;
	margin-top: 80px;
	border-top: 1px solid var(--color-contrast-medium);
}